<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Village Library welcoming you!</title>
</head>
<body>
  <h1>Let's create a JSON to find out the books that the Village Library has</h1>
    <!--/*@thymesVar id="JsonUrl" type="org.example.payload.JsonUrl"*/-->
    <form action="#" th:action="@{/library}" th:object="${library}" method="post">
      <p>HttpMethod: <input type="text" th:field="*{httpMethod}" /></p>
      <p>URL: <input type="text" th:field="*{url}" /></p>
      <p>How much to donate? (POST requests): <input type="text" th:field="*{body}" /></p>
      <p>Headers: <input type="text" th:field="*{headers}" /></p>
      <p>Parameters (GET requests): <input type="text" th:field="*{parameters}" /></p>
      <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>